{
  "extends": "rqbazan-ts/react",
  "rules": {
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.stories.js",
          "*.config.js",
          "dts-generator.js"
        ]
      }
    ],
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["^#storybook"]
      }
    ]
  }
}
